* {
    box-sizing: border-box;
}

.container-body {
    margin: 1rem;
    padding: 1em;
}

.caja1 {
    background-color: #ffffff;
    height: 600px;
}

.caja2 {
    background-color: #f2cdfa;
    height: 600px;
}

.caja3 {
    background-color: #ffffff;
    height: 600px;
    border: 1px solid black;
}

.cajaBase {
    background-color: #ffffff;
    height: 800px;
    border: 1px solid black;
    position: relative;
}


.caja4 {
    background-color: #ffffff;
    height: 200px;
    border: 1px solid black;
} 
.cajaDentro1{
    background-color: #ffffff;
    height: 400px;
    border: 1px solid black;
    margin-right: 20px;
    margin-top: 200px;
    
}
.cajaDentro2{
    background-color: #ffffff;
    height: 400px;
    border: 1px solid black;
    margin-right: 20px;
    margin-top: 200px;
    
}
.cajaDentro3 {
    background-color: #ffffff;
    height: 400px;
    border: 1px solid black;
    margin-right: 20px;
    margin-top: 200px;
}
.cajaDentro4 {
    background-color: #ffffff;
    height: 400px;
    border: 1px solid black;
    margin-right: 20px;
    margin-top: 200px;
    
}
 

.caja5 {
    background-color: #faedcd;
    height: 290px;
}